<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>

    <body>

        <form method="post" name="review">

            {% csrf_token %}
        
            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
            <br>

            <input class="purchase" type="checkbox" id="purchase" name="purchase" value=true>
            <label class="form-check-label"> Check here if you purchased a vehicle.</label>

            <br></br>

            <select name="car" id="car" class="car" required>
                {% for car in carmodel %}
                    <option selected value="{{car.year|date:'Y'}}/{{car.make.name}}/{{car.name}}">{{car}}</option>
                {% endfor %}
            </select>
            <br></br>
            
            <input type="date" id="date" name="date">

            <input type="submit" value="Submit">

        </form>

    </body>

</html>